
@{
    ViewBag.Title = "404";
}

<h2>404 - Not Found</h2>

<p>The resource you are trying to access was not found.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-link"><i class="fa fa-chevron-right"></i> Go Home</a>
