@using Project.StoryDomain.Models
@model IList<Story>

@{
    ViewBag.Title = "Welcome Back!";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-xs-6 col-md-4">
        <h2>Stories</h2>
        <div class="alert-message alert-message-success">
            <h6>
               I like Football
            </h6>
            <p>+5 Comments & +1 Likes</p>
        </div>
        <div class="alert-message alert-message-success">
            <h6>
                Hiking - The best of it!
            </h6>
            <p>+10 Comments & +4 Likes</p>
        </div>
        <div class="alert-message alert-message-success">
            <h6>
                Healty is the new black
            </h6>
            <p>+23 Comments & +10 Likes</p>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>Groups</h2>
        <div class="alert-message alert-message-info">
            <h6>
                Raw Vegan Community 
            </h6>
            <p>5 New Members</p>
        </div>
        <div class="alert-message alert-message-info">
            <h6>
                Bike and Scooters Community
            </h6>
            <p>5 New Members</p>
        </div>
        <div class="alert-message alert-message-info">
            <h6>
                Cheese and wine Fanatics
            </h6>
            <p>34 New Members</p>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <h2>Goals</h2>
        <div class="alert-message alert-message-notice">
            <h6>
                Weight 90kg reached!
            </h6>
            <p>This is the 2nd goal reached.</p>
        </div>
        <div class="alert-message alert-message-notice">
            <h6>
                Weight 100kg reached!
            </h6>
            <p>This is the 1st goal reached.</p>
        </div>
    </div>
</div>

