@using Project.StoryDomain.Models
@model IList<Story>

@{
    ViewBag.Title = "User Stories";
}

<h2>@ViewBag.Title.</h2>
<ul>
    @foreach (var story in Model) {
        <li>@story.Title</li>
    }
</ul>